extends layout

block content
  h1= title
  p Welcome to #{title}
  fieldset
    legend workouts
    - if (typeof(workouts) != 'undefined')
      - each workout in workouts
        div.workout
          div.description= workout.description
          div.workouttype= workout.type
          div.workouttime= workout.time
  fieldset
    legend workout types
    - if (typeof(workouts) != 'undefined')
      - each workouttype in workouttypes
        div.workouttype
          div.name= workouttype.name
          div.value= workouttype.value
  fieldset
    legend goals
    - if (typeof(goals) != 'undefined')
      - each goal in goals
        div.goal
          div.name= goal.name
          div.weight= goal.weight
          div.value= goal.value
  fieldset
    legend current weight
    div.weight
    - if (typeof(weights) != 'undefined')
      - each weight in weights
        div.weight= weight.weight
  fieldset
    legend workout units
    - each unit in units
      div.unit
        div.unit= unit.name
  div.user= user
  div.weights= user.weights
